@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center; 
    width: 45%;
    height: 80%;
    background: linear-gradient(135deg, rgba(0, 102, 204, 1) 0%, rgba(0, 191, 255, 1) 50%, rgba(173, 216, 230, 1) 100%);
    border-radius: 20px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.443);
}

main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%; 
    height: 40%;
    background-color: rgb(255, 255, 255);
    margin: 1%;
    border-radius: 20px;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

main div img {
    margin-bottom: 13px; 
}

main div p {
    font-size: 18px;
    font-weight: bold;
    text-align: center; 
    color:#FFD700;
}

main div:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 5px rgba(0, 191, 255, 0.7); 
    filter: brightness(1.1); 
}

.voltar {
    width: 24%; 
    height: 24%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(255, 255, 255); 
    margin-left: 14%;
    margin-top: 15%;
}

.voltar p {
    font-size: 14px; 
    text-align: center; 
}

.voltar:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 5px rgba(165, 232, 255, 0.7); 
    filter: brightness(1.1);
}

.matricula img{
    margin-top: 5%;
    margin-bottom: 0px;
}